/*home_view*/

*
{
    padding: 0;
    margin: 0;
}

nav
{
    position: fixed;
    background-color: rgb(223, 190, 141);
    height: 70px;
    width: 100%;
    z-index: 1;

}
.logo
{
    font-size: 25;
    position: relative;
    left: 5%;
    color: rgb(53, 52, 51);
    font: bold;
    line-height: 70px;
}

ul
{
    position: relative;
    float: right;
    margin-right: 20px;

}
ul li
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

.main_img
{
    width: 100%;
    height: 500px;
}


.img2
{
    width: 70%;
    height: 200px;
    position: relative;
    left: 5%;
    padding-top: 70px;
}

footer
{
    background-color: rgb(16, 15, 15);
    height: 70px;
    width: 100%;
}

.footer1
{
    text-align: center;
    color: azure;
}

/*login*/

.login_design
{
    padding-top: 300px;
}

.lable_deg
{
    display: inline-block;
    color: antiquewhite;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.log_form
{
    background-color: black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;

}

.title_deg
{
    background-color: rgb(92, 69, 39);
    color: azure;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.body_deg
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}